In [1]:
%load_ext autoreload
%autoreload 2

# Model Analyzer

In [2]:
import pandas as pd

from cosmos import DMSData, PriorFactory, ModelBuilder, ModelAnalyzer

In [3]:
# Load the data

pheno1, pheno2 = "abundance", "surface2"
no_s_hat = False
s_hat_flag = "no_s_hat" if no_s_hat else "s_hat"

df = pd.read_csv(f"data/kir21_effect_{pheno1}_{pheno2}.csv")

data_obj = DMSData(
    df,
    [pheno1, pheno2],
    include_type=["missense"],
    exclude_type=[
        "synonymous",
        "insertion1",
        "insertion2",
        "insertion3",
        "deletion1",
        "deletion2",
        "deletion3",
    ],
    min_num_variants_per_group=10,
)
prior = PriorFactory(
    data_obj,
    x_name="beta_hat_1",
    y_name="beta_hat_2",
    x_se_name="se_hat_1",
    x_gmm_n_components=2,
)
model = ModelBuilder(prior, "../test/results/")

Un-comment the following cell if you have not run it already in the last notebook.

In [4]:
# for i in range(1, 50 + 1):  # Limit the number of groups for testing
#     print(f"Running position {i}...", end="\r")
#     model.run_cosmos(
#         i,
#         no_s_hat=no_s_hat,
#         suppress_pareto_warning=True,
#     )

The analyzer will automatically pick up the results from the `model`'s `path_directory` (in this case, `"test/data/results/"`).

In [6]:
analyzer = ModelAnalyzer(model, "../test/results/analysis/", False)

For each position, the summary table generates:
- `group`: The group that the position belongs to. Positions with insufficient number of variants will be merged into the same group. Refer to `DMSData` construction in `00_dms_data.ipynb` for details.
- `model_rank{i}`: The `i`-th best model. (By default `i=1`)
- `{parameter}_mean`: The mean estimate of the parameter. If `NaN`, the parameter is not in the model.
- `{parameter}_std`: The error estimate of the parameter. If `NaN`, the parameter is not in the model.

In [7]:
df_sum = analyzer.summary(rank=1, save=False)  # The summary table will be saved to the data_path if `save=True`
df_sum

    position  group model_rank1  tau_mean   tau_std  gamma_mean  gamma_std
0          2      1     model_5       NaN       NaN    0.629284   0.275893
1          3      2     model_5       NaN       NaN    0.717805   0.254125
2          4      3     model_6  0.474483  0.278360    0.680578   0.448206
3          5      4     model_6  0.475656  0.284296    1.253374   0.405198
4          6      5     model_6  0.413907  0.274230    0.736984   0.391255
5          7      6     model_6  0.464315  0.278957    0.734544   0.315520
6          8      7     model_6  0.301579  0.265880    0.924676   0.414763
7          9      8     model_6  1.227650  0.404221    1.112426   0.414872
8         10      9     model_5       NaN       NaN    0.486677   0.305256
9         11     10     model_6  0.779550  0.318030    0.510805   0.480373
10        12     11     model_6  0.573528  0.343268    1.401751   0.364146
11        13     12     model_3       NaN       NaN         NaN        NaN
12        14     13     model_6  0.420088  0.262463    0.691347   0.503194
13        15     14     model_3       NaN       NaN         NaN        NaN
14        16     15     model_3       NaN       NaN         NaN        NaN
15        17     16     model_3       NaN       NaN         NaN        NaN
16        18     17     model_1       NaN       NaN         NaN        NaN
17        19     18     model_5       NaN       NaN    0.726071   0.445962
18        20     19     model_5       NaN       NaN    0.825643   0.484917
19        21     20     model_5       NaN       NaN    0.496639   0.279174
20        22     21     model_5       NaN       NaN    0.990913   0.307822
21        23     22     model_5       NaN       NaN    1.065223   0.333810
22        24     23     model_6  0.459863  0.368666    0.838689   0.464454
23        25     24     model_6  0.469961  0.340893    1.135205   0.458743
24        26     25     model_6  0.810000  0.375675    0.933255   0.530445
25        27     26     model_6  0.505478  0.276069    1.013846   0.493415
26        28     27     model_6  0.327670  0.272715    1.108145   0.348488
27        29     28     model_5       NaN       NaN    1.613538   0.456635
28        30     29     model_6  0.941751  0.494108    1.285150   0.418476
29        31     30     model_5       NaN       NaN    0.622682   0.519534
30        32     31     model_4  0.577126  0.247221         NaN        NaN
31        33     32     model_5       NaN       NaN    0.979204   0.380793
32        34     33     model_6  0.837966  0.322947    0.888076   0.474479
33        35     34     model_6  0.505193  0.276255    0.486749   0.372589
34        36     35     model_6  0.492777  0.310151    0.791222   0.493294
35        37     36     model_6  0.606856  0.263880    0.599005   0.491040
36        38     37     model_4  0.819217  0.233959         NaN        NaN
37        39     38     model_4  0.550867  0.244241         NaN        NaN
38        40     39     model_6  0.746319  0.267894    1.391291   0.575989
39        41     40     model_6  0.583599  0.245019    0.559444   0.497497
40        42     41     model_6  0.543961  0.256858    0.676097   0.490439
41        43     42     model_4  0.878998  0.230759         NaN        NaN
42        44     43     model_6  0.781844  0.267679    0.648734   0.475481
43        45     44     model_6  0.829565  0.266541    0.813052   0.343567
44        46     45     model_5       NaN       NaN    1.040798   0.104970
45        47     46     model_6  0.586644  0.311596    0.952529   0.202880
46        48     47     model_6  0.836341  0.409566    1.269902   0.209272
47        49     48     model_5       NaN       NaN    0.554043   0.346771
48        50     49     model_6  0.590468  0.442226    0.989175   0.220044
49        51     50     model_3       NaN       NaN         NaN        NaN